/docs/*
/*/__pycache__/*
/MyLogger/log/*
/MyDataBase/data/*
/MyDataBase/backup/*
/MyPlantUML/input/*
/MyPlantUML/output/*
/MyPlantUML/docs/*
/MyPlantUML/input.pu
/MyPlantUML/output.pu
/MyPlantUML/output.svg
/MyMusicCenter/data/*
!.gitkeep